*{
    padding: 0;
    margin: 0;
}


@mixin textBoldFont{
    font-family:'Outfit', sans-serif;
    font-weight: 700;
    opacity: 80%;
}

@mixin textLightFont{
    font-family:'Outfit', sans-serif;
    font-weight: 100;
    opacity: 50%;
}

// ## Colors

$whiteColor: hsl(0, 0%, 100%);
$background:  hsl(212, 45%, 89%);
$grayishBlue: hsl(220, 15%, 55%);
$darkBlue: hsl(218, 44%, 22%);

body{
    background-color: $background;
    padding: 15% 0%;
}

.container{
    border-radius: 5px;
    margin: 0% 40%;
    background-color: $whiteColor;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        display: flex;
        width: 50%;
        margin: 2%;
        border-radius: 5px;
    }
    ul{
        list-style: none;
        .text1{
            @include textBoldFont
        }
        .text2{
            @include textLightFont
        }
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
    a {
        color: hsl(228, 45%, 44%);
    }
}

