*{
    padding: 0;
    margin: 0;
}

//Importing font 'Outfit'
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

// ## Colors
$whiteColor: hsl(0, 0%, 100%);
$background:  hsl(212, 45%, 89%);
$grayishBlue: hsl(220, 15%, 55%);
$darkBlue: hsl(218, 44%, 22%);

// Bold text function
@mixin textBoldFont{
    font-family:'Outfit', sans-serif;
    font-weight: 700;
    opacity: 80%;
    text-align: center;
    padding: 10px 30px;
}

// Normal text function
@mixin textLightFont{
    font-family:'Outfit', sans-serif;
    font-weight: 100;
    opacity: 50%;
    text-align: center;
    padding: 10px 30px 30px 30px;
}

.container2{
    display: none;
}

// Devices Screen
@mixin incompatible{
    .container2{
        display: block;
    }
    .container{
        display: none;
    }
    .attribution{
        display: none;
    }
    
}

@mixin smallDevices{
    .container{
        border-radius: 20px;
        margin: 0% 10%;
        background-color: $whiteColor;
        img{
            max-width: 90%;
            margin: 5%;
            border-radius: 20px;
        }
        ul{
            list-style: none;
            .text1{
                @include textBoldFont
            }
            .text2{
                @include textLightFont
            }
        }
    }

    .attribution {
        padding: 1% 13%;
        font-size: 11px;
        text-align: center;
        a {
            color: hsl(228, 45%, 44%);
        }
    }
}
@mixin mediumDevices{
    .container{
        border-radius: 20px;
        margin: 0% 30%;
        background-color: $whiteColor;
        img{
            max-width: 90%;
            margin: 5%;
            border-radius: 20px;
        }
        ul{
            list-style: none;
            .text1{
                @include textBoldFont
            }
            .text2{
                @include textLightFont
            }
        }
    }

    .attribution {
        padding: 1% 33%;
        font-size: 11px;
        text-align: center;
        a {
            color: hsl(228, 45%, 44%);
        }
    }
}
@mixin largeDevices{
    .container{
        border-radius: 20px;
        margin: 0% 40%;
        background-color: $whiteColor;
        img{
            max-width: 90%;
            margin: 5%;
            border-radius: 20px;
        }
        ul{
            list-style: none;
            .text1{
                @include textBoldFont
            }
            .text2{
                @include textLightFont
            }
        }
    }

    .attribution {
        padding: 1% 43%;
        font-size: 11px;
        text-align: center;
        a {
            color: hsl(228, 45%, 44%);
        }
    }
}

@media screen and (max-width: 375px) {
    @include incompatible
}
@media screen and (min-width: 375px) {
    @include smallDevices
}
@media screen and (min-width: 768px) {
    @include mediumDevices
}
@media screen and (min-width: 1440px) {
    @include largeDevices
}

body{
    background-color: $background;
    padding: 10% 0%;
}
