*{
    padding: 0;
    margin: 0;
}

// Bold text function
@mixin textBoldFont{
    font-family:'Outfit', sans-serif;
    font-weight: 700;
    opacity: 80%;
    text-align: center;
}

// Normal text function
@mixin textLightFont{
    font-family:'Outfit', sans-serif;
    font-weight: 100;
    opacity: 50%;
    text-align: center;
}

// ## Colors
$whiteColor: hsl(0, 0%, 100%);
$background:  hsl(212, 45%, 89%);
$grayishBlue: hsl(220, 15%, 55%);
$darkBlue: hsl(218, 44%, 22%);

body{
    background-color: $background;
    padding: 10% 0%;
}

.container{
    border-radius: 5px;
    margin: 0% 40%;
    background-color: $whiteColor;
    img{
        max-width: 96%;
        margin: 2%;
        border-radius: 5px;
    }
    ul{
        list-style: none;
        .text1{
            @include textBoldFont
        }
        .text2{
            @include textLightFont
        }
    }
}

.attribution {
    padding: 1% 40%;
    font-size: 11px;
    text-align: center;
    a {
        color: hsl(228, 45%, 44%);
    }
}

